{% extends 'index.html' %}

{% block content %}
    <div class="axe1">
        <div class="titlex">
            <p class="text">Students Numbers per year</p>
        </div>      
        <canvas id="bar-chart" width="400" height="250"></canvas>
    </div>
    <div class="axe2">
        <div class="titlex">
            <p class="text">Students number per speciality</p>
        </div>                 
        <canvas id="line-chart" width="400" height="250"></canvas>
    </div>
    <div class="axe3">     
        <div class="titlex">
            <p class="text">Losers per speciality </p>
        </div>                 
        <canvas id="line-chart2" width="400" height="250"></canvas>         
    </div>
   
{% endblock %}


